
.placeholder {
    color: rgb(107, 107, 107);
    position: absolute;
    margin-top: 10px;
    font-size: 15px;
    z-index: 2;
    transition: all .2s ease;
    pointer-events: none;
    margin-left: 13px;
    
}

.placeholderActive {
    color: rgb(140, 140, 140);
    position: absolute;
    margin-top: -6.5px;
    margin-left: 10px;
    font-size: 12px;
    background-color: white;
    transition: all .2s ease;
}