@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
  
  margin: 0;
  padding: o;
	font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}